<header id="header" class="header d-flex align-items-center sticky-top">
    <div
            class="container-fluid container-xl position-relative d-flex align-items-center"
    >
        <a  th:href="@{/}" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="/img/logo.png" alt=""> -->
            <h1 class="sitename">EMSI</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a th:href="@{/}" class="active">Home</a></li>
                <li>
                    <a th:href="@{/Demande}" >DemandeAttestation</a>

                </li>
                <li>
                    <a th:href="@{/Absence}" >Absence</a>

                </li>
                <li>
                    <a th:href="@{/note}">Note</a>
                </li>

                <li>
                    <a th:href="@{/pag}">EmploiDuTemps</a>
                </li>





                <li><a href="contact.html">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>
